@import "compass/css3";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: black;
}

canvas {
  display: block;
}

.title {
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
}

.play {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.play:hover {
  background-color: #0056b3;
}

.pause {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.pause:hover {
  background-color: #0056b3;
}

.name {
    color: rgb(173, 173, 173);
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.5em;
    text-align: center;
}